img {
    max-width: 100%;
    height: auto;
}

.item {
    width: 400px;
    min-height: 200px;
    max-height: 280px;
    float: left;
    margin: 3px;
    padding: 3px;
}

.bgr-transparent{
    background-color: hsla(89, 16%, 91%, 0.64)
}
